<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="string-input-2">
<entry key="string" type="xstring" value="add pull"/>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value=""/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="117"/>
<entry key="y-coordinate" type="xint" value="239"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="15"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="0"/>
<entry key="defFontSize" type="xint" value="-1"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" value="Allows user to automatically push the directory listed. In this case it will be a whole D:/gittest directory. So any change to any subfolders will also be pushed.%%00013%%00010%%00013%%00010%%00013%%00010made as a metanode since the commit can contain custom messages"/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="virtual-in-ID" type="xint" value="3"/>
<config key="inports"/>
<entry key="virtual-out-ID" type="xint" value="4"/>
<config key="outports"/>
<entry key="layoutJSON" type="xstring" value=""/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="customCSS" type="xstring" value=""/>
</config>
